<a href="https://colab.research.google.com/github/diegovalensuela/Experimetos/blob/master/experimentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# importar o pandas 
import pandas as pd
# atribuir o arquivo csv a uma variavel
df = pd.read_csv('/content/custos.csv', encoding='latin1')

In [11]:
# exibir as 5 primeiras entradas 
df.head()

         Data Produto  ... Duração Venda Telefone (mins)  Tempo Preparaçãoo (mins)
0  19/03/2017   AX101  ...                            17                        11
1  27/02/2017   BX102  ...                            26                        11
2    2/3/2017   AX101  ...                            27                        20
3  28/03/2017   BX101  ...                            17                        23
4    3/3/2017   AX101  ...                             0                        20

[5 rows x 7 columns]

In [12]:
# contar a quantidade de palavras
print('Palavras no total = {}'.format(len(df)))

Palavras no total = 106

In [13]:
# retorna a quantidade de entradas e variáveis
df.shape

(106, 7)

In [14]:
# retorna o nome de todas as colunas
df.columns

Index(['Data', 'Produto', 'Serial number', 'Valor de Venda', 'Preço Custo',
       'Duração Venda Telefone (mins)', 'Tempo Preparaçãoo (mins)'],
      dtype='object')

In [15]:
# retorna o valor minimo da coluna "Valor de Venda"
df['Valor de Venda'].min()

17.62