<a href="https://colab.research.google.com/github/diegovalensuela/Experimetos/blob/master/Tratamento%20de%20arquivos%20pt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import nltk 
from wordcloud import WordCloud
import matplotlib.pyplot as plt
# from googletrans import Translator
from nltk import sent_tokenize, word_tokenize

In [0]:
#importa a base
df = pd.read_csv('/content/Data_science_linkedin_PORT.xls')
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  Sobre Nubank\r\n\r\nNubank é a principal empre...
1   Jobzia  ...  responsabilidades\r\n\r\nComo Senior Associate...
2  Samsung  ...  Posição\r\n\r\n\r\n\r\n1. Contribuir para gest...
3      OYO  ...  Somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  Indigo melhora a rentabilidade produtor, a sus...

[5 rows x 3 columns]

In [0]:

#põe tudo em minusculo
df['descricao_port'] = df['descricao_port'].str.lower()
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  sobre nubank\r\n\r\nnubank é a principal empre...
1   Jobzia  ...  responsabilidades\r\n\r\ncomo senior associate...
2  Samsung  ...  posição\r\n\r\n\r\n\r\n1. contribuir para gest...
3      OYO  ...  somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  indigo melhora a rentabilidade produtor, a sus...

[5 rows x 3 columns]

In [0]:
#remove digitos
df['descricao_port'] = df['descricao_port'].str.replace(r'[0-9]', '')
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  sobre nubank\r\n\r\nnubank é a principal empre...
1   Jobzia  ...  responsabilidades\r\n\r\ncomo senior associate...
2  Samsung  ...  posição\r\n\r\n\r\n\r\n. contribuir para gestã...
3      OYO  ...  somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  indigo melhora a rentabilidade produtor, a sus...

[5 rows x 3 columns]

In [0]:
#remove "erros de importação"
df['descricao_port'] = df['descricao_port'].str.replace('\r', ' ')
df['descricao_port'] = df['descricao_port'].str.replace('\n', ' ')
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  sobre nubank    nubank é a principal empresa d...
1   Jobzia  ...  responsabilidades    como senior associate, vo...
2  Samsung  ...  posição        . contribuir para gestão de neg...
3      OYO  ...  somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  indigo melhora a rentabilidade produtor, a sus...

[5 rows x 3 columns]

In [0]:
# retira acentuação
df['descricao_port'] = df['descricao_port'].str.normalize('NFKD').str.encode('ascii', 'ignore').str.decode('utf-8')
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  sobre nubank    nubank e a principal empresa d...
1   Jobzia  ...  responsabilidades    como senior associate, vo...
2  Samsung  ...  posicao        . contribuir para gestao de neg...
3      OYO  ...  somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  indigo melhora a rentabilidade produtor, a sus...

[5 rows x 3 columns]

In [0]:
#remoção de pontuação
import string

translation_table = str.maketrans({key: ' ' for key in string.punctuation}) 

def remove_punctuation(text):
    return text.translate(translation_table)

In [0]:
df['descricao_port'] = df['descricao_port'].apply(remove_punctuation)
df.head()

   Empresa  ...                                     descricao_port
0   Nubank  ...  sobre nubank    nubank e a principal empresa d...
1   Jobzia  ...  responsabilidades    como senior associate  vo...
2  Samsung  ...  posicao          contribuir para gestao de neg...
3      OYO  ...  somos uma cadeia de hospitalidade que crescem ...
4   Indigo  ...  indigo melhora a rentabilidade produtor  a sus...

[5 rows x 3 columns]

In [0]:
df_normalizada = df[['Empresa','descricao_port']]

In [0]:
#exporta a base para importar para o R
df_normalizada.to_csv('/content/normalizada_PORT.csv', index=False)